<?xml version="1.0" ?>
<model>
  <name>checkerboard_textured_1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Stefan Isler</name>
    <email>islerstefan@bluewin.ch</email>
  </author>

  <description>
    Calibration checkerboard with 8x6 interior corners, each square with a size of 5x5cm
  </description>
</model>
